#header {
  display: flex;
  min-height: 15vh;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  font-size: calc(8px + 1.5vmin);
  color: rgb(204, 65, 0);
}
#Email {
  display: flex;
  min-height: 15vh;
  align-items: center;
  justify-content: center;
  width: 85%;
}

#Password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}
#Login_Forgot_Buttons {
  display: flex;
  min-height: 13vh;
  align-items: center;
  justify-content: center;
  color: transparent;
}

#Register {
  display: flex;
  min-height: 1vh;
  align-items: center;
  justify-content: center;
}

#Resetpwd {
  padding-top: 10%;
}
.noControl {
  width: 25%;
  background-color: transparent;
}
#Name {
  width: 85%;
}
#Passwordss {
  width: 85%;
}
